.container {  display: grid;
  grid-template-columns: 0.4fr 1.7fr 1fr;
  grid-template-rows: 0.3fr 2.fr 0.2fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "side head head"
    "side main main"
    "foot foot foot";
}

.side { grid-area: side; 
 border-radius: 25px;
 background-color : ec3500 ;
background-image : url('musterV2.png');
background-repeat : default ;
  background-size: cover ;
}

.head { grid-area: head; 
 border-radius: 25px;
 background-color : ec3500 ;
background-image : url('musterH2.png');
background-repeat : default ;
  background-size: cover ;
}


.main { grid-area: main;
background-image: url('hintergrund2.png');
background-repeat: no-repeat;
background-size: cover ;
}

.foot { grid-area: foot; }

	a{text-decoration:none;}
	a:link{color:black;}
	a:visited{color:9152FF;}
	a:hover {color: white;}
	a:active{
		color:ec3500;
		background-color:black;}
	